In [1]:
import pandas as pd
import numpy as np

frame = pd.read_csv('data/rating_final.csv')
cuisine = pd.read_csv('data/chefmozcuisine.csv')
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [2]:
# Recommend based on counts

rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())
rating_count.sort_values('rating', ascending=False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25